<!DOCTYPE html>
<html>
<head>
    <title>Stay Home</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %> 
    <div class="table-wrapper">
        <%- include("tables/branch_table") %> 
    </div>
</body>
</html>