<!DOCTYPE html>
<html>
<head>
    <title>Stay Home - Branch</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %> 
    <div class="table-wrapper">
    <% for (const branch of branches) { %> 
        <h2>Branch Info:</h2>
        <%- include("tables/branch_table", {branches: [branch]}) %> 
        <h3>Staff:</h3>
        <%- include("tables/staff_table", {staff: branch.Staff}) %> 
        <br>
    <% } %> 
    </div>
</body>
</html>