<!DOCTYPE html>
<head>
    <title>Stay Home</title>
    <%- include("common_headers") %>
</head>
<body>
    <ul>
        <li><a href="/branch">Branch</a></li>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/member">Member</a></li>
    </ul>
</body>