<!DOCTYPE html>
<head>
    <%- include("common_headers") %> 
</head>
<body>
    <div>
        <h1>Submit a new Rental</h1>
        <%- include("rental_form") %>
    </div>
    <%- include("rental_table", rentals) %> 
</body>