<!DOCTYPE html>
<head>
    <%- include("common_headers") %> 
</head>
<body>
    <div>
        <h2>Submit a new Rental</h2>
        <%- include("rental_form") %>
    </div>
    <div>
        <h2>Return a video</h2>
        <%- include("return_form") %> 
    </div>
    <%- include("rental_table", rentals) %> 
</body>