<!DOCTYPE html>
<html>
<head>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <div>
        <h2>Results</h2>
        <div class="table-wrapper">
            <%- include("tables/rental_table", rentals) %> 
        </div>
    </div>
</body>
</html>