<form method="post" action="/return/submit">
    <div>
        <span class="form-item">
            <label for="catalogno">Catalog No.:</label>
            <input type="number" name="catalogno" required="true">
        </span>
        <span class="form-item">
            <label for="videono">Video No.:</label>
            <input type="number" name="videono" required="true">
        </span>
        <input type="submit">
    </div>
</form>