<!DOCTYPE html>
<head>
    <title>Stay Home</title>
    <%- include("common_headers") %> 
</head>
<body>
    <div class="table-wrapper">
        <%- include("staff_table", {staff}) %> 
    </div>
</body>