<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %> 
    <h2>The <%= type %> has been succesfully updated!</h2>
    <div><a href=<%- JSON.stringify(backUrl) %> >Go Back</a></div>
</body>
</html>