<!DOCTYPE html>
<head>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <div class="table-wrapper">
        <%- include("video_table", videos) %> 
    </div>
</body>