<!DOCTYPE html>
<html>
<head>
    <title>Stayhome - Catalog</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <div class="table-wrapper">
        <%- include("tables/video_table", videos) %> 
    </div>
</body>
</html>