<!DOCTYPE html>
<html>
<head>
    <title>Stay Home - Video Copy</title>
    <%- include("common_headers") %> 
</head>
<body>
    <%- include("nav-bar") %>
    <div class="table-wrapper">
        <%- include("tables/videocopy_table", videocopies) %> 
    </div>
</body>
</html>