body {
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
    background: url("../images/Cine.jpg");
    /* background-position: center; */
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: white;
}
tr {
    vertical-align: top;
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.2);
}
table {
    min-width: 550px;
    margin: 0 auto;
}
.table-wrapper {
    overflow: auto;
}
.inner-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    word-wrap: break-word;
    overflow: scroll;
}
.inner-table tr {
    background-color: rgba(255,255,255,0);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.inner-table tr:nth-child(1) {
    border-top: none;
}
.form-item {
    display: inline-block;
}
label {
    display: inline-block;
    width: 100px;
}
#info{
    text-align: center;
    margin-top: 15%;
    color: white;    
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                    0px 8px 13px rgba(0, 0, 0, 0.1),
                    0px 18px 24px rgba(0, 0, 0, 0.1);


}
#title{
    font-weight: 700;
    font-size:75px;
    letter-spacing: 2px;
}
html{
    height: 100%;
}
hr{
    border-top: 1px solid white;
    margin-left: 10%;
    margin-right: 10%;
}