<form method="post" action="/rental/return">
    <div>
        <span class="form-item">
            <label for="catalogno">Catalog No.:</label>
            <input type="number" name="catalogno" required="true" id="catalogno">
        </span>
        <span class="form-item">
            <label for="videono">Video No.:</label>
            <input type="number" name="videono" required="true" id="videono">
        </span>
        <input type="submit" value="Return">
    </div>
</form>