<form action="/video/search" method="GET">
    <div class="form-item">
        <input type="text" name="searchtext">
        <select name="searchoption">
            <option value="title" selected="true">Title</option>
            <option value="actor">Actor</option>
            <option value="category">Category</option>
            <option value="director">Director</option>
        </select>
    </div>
    <input type="submit" value="Search">
</form>