<form action="/rental/search" method="GET">
    <div class="form-item">
        <label for="afterdate">Range Start:</label>
        <input type="date" name="afterdate" id="afterdate">
    </div>
    <div class="form-item">
        <label for="beforedate">Range End:</label>
        <input type="date" name="beforedate" id="beforedate">
    </div>
    <div class="form-item">
        <label for="pendingonly">With pending returns only?</label>
        <input type="checkbox" name="pendingonly" value="true" id="pendingonly">
    </div>
    <!--<div class="form-item">
        <label for="hastitle">Has Tile:</label>
        <input type="text" name="hastitle" id="hastitle">
    </div>-->
    <input type="submit" value="Search">
</form>